<h1>Users</h1>
<ul>
  <li class="user-card" *ngFor="let user of users">
    <h2>{{ user.name }}</h2>
    <p>Email: {{ user.email }}</p>
    <h3>Posts:</h3>
    <ul>
      <li class="post-card" *ngFor="let post of user.posts">
        <h4>Title : {{ post.title }}</h4>
        <p>Body: {{ post.body }}</p>
        <p>Last updated :{{ post.last_updated }}</p>
      </li>
    </ul>
  </li>
</ul>

<h2>Add New User</h2>

<form #newUserForm="ngForm" (ngSubmit)="onSubmitUser(newUserForm)">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required [(ngModel)]="newUser.name">
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required [(ngModel)]="newUser.email">
  </div>

  <button type="submit">Save</button>
</form>

<br>

