.user-card {
    background-color: #2b2525;
    color: aliceblue;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .post-card {
    background-color: #2b2525;
    color: aliceblue;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  